header {
        padding: 10px 10px;
        font-family: monospace;
        background-color: #3D5A8C;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        background-size: cover;
        z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 25px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

/* Hero Style Start */

.hero {
    flex-wrap: wrap;
    align-items: flex-end;
}