body {
    font-family: monospace;
}

header {
        padding: 30px 30px;
        background-color: #3D5A8C;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        background-size: cover;
        z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
    background-color: rgba(24, 34, 48, 0.8);
    /* How do I extend this border further out from my name? */
    border-radius: 15px;
    border: 3px solid aliceblue;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 25px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-decoration: underline;
}

header nav ul li a:hover {
    background-color: rgba(24, 34, 48, 0.8);
    text-decoration: none;
    border-radius: 15px;
    text-shadow: none;
    border: 2px solid aliceblue;
}

/* Hero Style Start */

.hero {
    background-image: url(../images/carbonfiber.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text h2 {
    color: aliceblue;
    font-size: 90px;
    display: inline-flex;
    justify-content: space-around;
    padding: 20px 30px;
    margin-left: 50px;
}
/* Hero Style End */

/* About Me */
.primary-section h2 {
    padding: 5px;
    display: flex;
    justify-content: left;
    border-right: 4px solid #3D5A8C;
    color: #3D5A8C;
    font-size: 65px;
    position: relative;
    left: 200px;
    width: 250px;
}

.secondary-section p {
    color: #3D5A8C;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-info {
    padding: 5px;
    display: flex;
    color: #3D5A8C;
    font-size: 30px;
    position: relative;
}

/* Contact Style Start */
.contact-me p {
    padding: 0%;
    margin: 0%;
    color: #3D5A8C;
}
.contact-me ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 25px 20px;
    font-size: 1.55vw;
    align-items: center;
    text-decoration: underline;
    color: #3D5A8C;
}
